.título{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: blue
    }
.líneas{
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    margin-left: 80px;
    }    